.env
node_modules
.cursorrules
.cursor
.cursorignore
.cursorignore  
.cursor/rules
apps/mobile/node_modules
apps/mobile/.expo
apps/mobile/android
apps/mobile/ios
apps/mobile/web
apps/mobile/dist
apps/mobile/build
apps/mobile/coverage
apps/mobile/logs
apps/mobile-old-working